/* Estilos gerais */

/* Configurações básicas do corpo da página */
body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
    background: url('https://res.cloudinary.com/dudanet/image/upload/v1701841925/coloridos-azuis-arte-digital-imagem-de-fundo_b5hzuf.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Z-index para elementos específicos */
.login-screen,
.icons-container,
.dark-mode-toggle {
    z-index: 1;
}

/* Estilo da tela de login */
.login-screen {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-box {
    position: relative;
    background: #ffffff0e;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Estilo da seção do perfil */
.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.557);
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

.profile-name p {
    font-size: 28px;
    color: white;
    margin: 0 auto 5px;
}

/* Estilo da profissão */
.profession {
    font-size: 18px;
    color: rgba(208, 208, 208, 0.878);
    text-align: center;
    margin-top: 1px;
}

/* Estilo do container de senha */
.password-container {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: 'Segoe UI', sans-serif;
    margin-bottom: 18px;
}

.password-input {
    flex-grow: 1;
}

#password {
    width: 100%;
    padding: 9px 18px;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    margin: 0;
}

/* Estilo do botão de mostrar/esconder senha */
.password-toggle {
    position: relative;
    cursor: pointer;
    margin: 12px;
}

.password-toggle img {
    width: 15px;
    height: 15px;
    flex-grow: 1;
}

/* Estilo do botão de login */
button {
    padding: 8px 48px;
    background: #0078d4;
    color: #fff;
    border: 2px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, border 0.3s ease;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

button:hover {
    background: #005a9e;
    border: 2px solid #0078d4;
}

/* Mensagem de erro */
.error-message {
    color: #c6b1b1;
    margin-top: 10px;
}

/* Mensagem de carregamento */
.loading-message {
    display: none;
    color: white;
    font-size: 20px;
}

/* Estilo do ícone de alternar modo escuro */
.dark-mode-toggle:hover {
    filter: brightness(1.2);
}

.dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.dark-mode-icon {
    width: 25px;
    margin-bottom: 5px;
}

.mode-label {
    color: white;
    font-size: 12px;
}

/* Ícones no canto inferior direito */
.icons-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.icons-container a:hover img {
    filter: brightness(1.2);
}

.icons-container a {
    text-decoration: none;
}

.icons-container img {
    width: 29px;
    height: 29px;
}

/* Estilos específicos para a tela de portfólio */

/* Layout da tela de portfólio */
.portfolio-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Nova div para centralizar conteúdo */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

/* Estilo da descrição "Sou um desenvolvedor..." */
.profile-description p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Nova seção após o login */
.profile-picture-small {
    width: 130px;
    height: 130px;
    margin-top: 15px;
    border-radius: 50%;   
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.557);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile-description {
    max-width: 600px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0;
    text-align: center;
}

/* Ícones representando tecnologias */
.technologies-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que os ícones quebrem para a próxima linha em telas menores */
    margin-top: 10px;
}

.technologies-icons img {
    width: 50px;
    height: 50px;
    margin: 2px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.557);
    border-radius: 12px;
}

/* Categorias na tela de portfólio */
.categories {
    display: flex;
    gap: 20px;
}

.categories button {
    padding: 10px 20px;
    background: #0078d4;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, border 0.3s ease;
}

.categories button:hover {
    background: #005a9e;
}

/* Grade de projetos */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

/* Projeto individual */
.project {
    background: #ffffff0e;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Título do projeto */
.project h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Descrição do projeto */
.project p {
    color: #c6b1b1;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Tecnologias utilizadas no projeto */
.project p:last-child {
    margin-bottom: 20px;
}

/* Container de vídeo para torná-lo responsivo */
.video-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%; /* Proporção 16:9 para vídeos do YouTube */
    margin-bottom: 15px;
}

/* Vídeo dentro do container responsivo */
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Adiciona margem à descrição do projeto para separar dos outros elementos */
.project-description {
    margin-bottom: 20px;
}
.left-icons-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.left-icons-container a {
    text-decoration: none;
}

.left-icons-container img {
    width: 30px;
    height: 30px;
    border-radius: 18%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.557);
    transition: filter 0.3s ease;
    -webkit-border-radius: 18%;
    -moz-border-radius: 18%;
    -ms-border-radius: 18%;
    -o-border-radius: 18%;
    -webkit-transition: filter 0.3s ease;
    -moz-transition: filter 0.3s ease;
    -ms-transition: filter 0.3s ease;
    -o-transition: filter 0.3s ease;
}

.left-icons-container img:hover {
    filter: brightness(1.2);
}
/* Estilo do rodapé */
.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #c6b1b1; /* Cor cinza desejada */
    font-size: 14px;
}

.footer a {
    color: #c6b1b1; /* Cor cinza desejada para o link */
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #0078d4; /* Cor desejada ao passar o mouse sobre o link */
}

